#map {
	height: 100%;
}

#map-column {
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #2B2B2B !important;
}

.container-fluid {
	height:100%;
	background-color: #2B2B2B;
}

.row, .col-sm-2, .col-sm-10 {
	height: 100%;
}

.main-view {
	display: flex;
}

.map-canvas {
	width: 100%;
}

.col-sm-10 {
	padding: 0 !important;
}

#sidebar-header {
	font-size: 20px;
	text-align:center;
	color: #FFFFFF;
}

.form-control {
	font-size: 10px !important;
	background-color: grey !important;
	color: white !important;
	border: 0 !important;
	border-radius: 10px !important;
	margin-bottom: 15px;
}

::-webkit-input-placeholder {
	text-align: center;
	color: white !important;
}

::-moz-placeholder {
	color: white !important;
	text-align: center;
}

:-ms-input-placeholder {
	color: white !important;
	text-align: center;
}

.list-group {
	font-size: 12px;
	height: auto;
	max-height: 500px;
	overflow-x: hidden;
	border-radius: 10px;
}

li:hover {
	background: red;
}

#header {
	font-size:15px;
	text-align:center;
}

#wiki-link {
	font-size: 12px;
}

@media (max-width: 767px) {
	.col-sm-2 {
		height: 50%;
	}

	.list-group {
		max-height: 200px;
	}
}
